<div class="row">
  <div class="col-md-4">
    <h1>Please register</h1>
    <br>
    <div>
      <form class="form" ng-submit="register()">
        <div class="form-group">
          <input ng-model="user.email" class="form-control" type="email" placeholder="Email address" required autofocus>
        </div>
        <div class="form-group">
          <input ng-model="user.password" class="form-control" type="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
      </form>
    <div>
    <br>
    <p>Already have an account? Login <a href="#/login">here</a>.</p>
  </div>
</div>