/* custom css */

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.new-deck-flash {
  margin-top: 10px;
}

.thin-border-right {
  border-right: 1px solid #eee;
}

.italic-font {
  font-style: italic;
}